body{
    height: 100vh;
    width: 100%;
    /* background-color: red; */
}

#navbar{

    height: 56px;
    display: flex;
    justify-content: space-between;

}

#left{
    display: flex;
}

#right{
    display: flex;
}

.main{
    padding:20px;

}
